.title {
    text-align: center;
    color: #FC9844;
}
.recipe-title {
    width: 50px;
    text-align: center;
    padding: 10px;
}
.text-with-image {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin: 10px 40px;
}
.image {
    height:auto;
    width: 200px;
    display: block;
    margin-bottom: 4px;
}
img {
    height:auto;
    width: 400px;
}